label {
    margin-top: .1rem;
    margin-bottom: .0rem;
}

.form-group {
    margin-bottom: 0rem;
}

.card-body {
    padding-top: 1.0rem;
    padding-right: 1.25rem;
    padding-bottom: 1.0rem;
    padding-left: 1.25rem;
}

.hide-overflow {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content-wrapper {
    padding-bottom: 1rem;
}

table.table-nooverflow td{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 0;
}

.navbar-nav {
    white-space: nowrap;
}

div.custom-switch {
    margin: 0.5em;
}